// defines the background color globally
// chose the color you want and the whole app will adapt to it
$bg-color: black;
$hover-darken-amount: 40%;
$active-darken-amount: 60%;
$mix-color-amount: 30%;

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  height: 100%;
  width: 100%;
}
