//$bg-color: #5f5f5f;
$bg-color: white;
$hover-darken-amount: 40%;
$active-darken-amount: 60%;
$mix-color-amount: 30%;
$mobile-screen-size: 768px;

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  height: 100%;
  width: 100%;
}
